<div>
  <app-funds-panel
    [funds]="funds"
    [fundsEffect]="visibleFundsEffect"
  ></app-funds-panel>
  <div>
    <app-work-button
      (visibleFundsEffect)="visibleFundsEffect = $event"
    ></app-work-button>
  </div>
  <div *ngIf="availablePersonalProperties.length > 0">
    <app-personal-panel
      title="Personal"
      [properties]="availablePersonalProperties"
      (visibleFundsEffect)="visibleFundsEffect = $event"
    ></app-personal-panel>
  </div>
  <div>
    <app-powerup-panel [powerups]="powerups"></app-powerup-panel>
  </div>
  <div *ngIf="availableBusinessProperties.length > 0">
    <app-personal-panel
      title="Business"
      [properties]="availableBusinessProperties"
      (visibleFundsEffect)="visibleFundsEffect = $event"
    ></app-personal-panel>
  </div>
  <div *ngIf="availableBusinessProperties.length > 0">
    <app-time-control-panel [timeActive]="timeActive"></app-time-control-panel>
  </div>
</div>
