<div>
  <app-funds-panel
    [funds]="funds"
    [fundsEffect]="visibleFundsEffect"
  ></app-funds-panel>
  <div class="w-full text-center">
    <app-work-button
      class="inline-block"
      (visibleFundsEffect)="visibleFundsEffect = $event"
    ></app-work-button>
  </div>
  <app-upgrade-grid
    class="w-full"
    [upgrades]="[{ property: 'salary', level: 2 }]"
  ></app-upgrade-grid>
  <app-personal-panel
    class="w-full"
    *ngIf="availablePersonalProperties.length > 0"
    title="Personal"
    [properties]="availablePersonalProperties"
    (visibleFundsEffect)="visibleFundsEffect = $event"
  ></app-personal-panel>
  <app-powerup-panel
    class="w-full"
    *ngIf="powerups.length > 0"
    [powerups]="powerups"
  ></app-powerup-panel>
  <app-personal-panel
    class="w-full"
    *ngIf="availableBusinessProperties.length > 0"
    title="Business"
    [properties]="availableBusinessProperties"
    (visibleFundsEffect)="visibleFundsEffect = $event"
  ></app-personal-panel>
  <app-time-control-panel
    class="w-full"
    *ngIf="availableBusinessProperties.length > 0"
    [timeActive]="timeActive"
  ></app-time-control-panel>
</div>
