<div @appear *ngIf="panelVisible$ | async">
  <h5>Personal</h5>
  <app-property-row
    propertyName="salary"
    [propertyType]="propertyTypes.salary"
    [propertyState]="(propertyStates$ | async).salary"
    [upgradePossible]="(upgradesPossible$ | async).salary"
    (upgrade)="upgrade('salary')"
  ></app-property-row>
  <app-property-row
    propertyName="workEfficiency"
    [propertyType]="propertyTypes.workEfficiency"
    [propertyState]="(propertyStates$ | async).workEfficiency"
    [upgradePossible]="(upgradesPossible$ | async).workEfficiency"
    (upgrade)="upgrade('workEfficiency')"
  ></app-property-row>
</div>
