<div @appear *ngIf="factoryPanelVisible$ | async">
  <h5 class="card-title">Businesses</h5>
  <div class="row upgrade-row">
    <div class="col s4">{{ propertyTypes.businessIncome.displayName }}</div>
    <div class="col s2">{{ businessIncome$ | async }}</div>
    <div class="col s6">
      <a
        (click)="upgradeBusinessIncome()"
        class="upgrade-btn waves-effect btn"
        [class.disabled]="!(businessIncomeUpgradePossible$ | async)"
        >{{ propertyTypes.businessIncome.upgradeText }}</a
      >
    </div>
  </div>
</div>
