<div class="btn-container">
  <button
    mat-raised-button
    (click)="work()"
    (mouseenter)="hoverActive$.next(true)"
    (mouseleave)="hoverActive$.next(false)"
    [disabled]="workActive$ | async"
    color="primary"
  >
    <mat-icon>work</mat-icon>
    Work
  </button>
  <div class="progress">
    <div
      class="determinate"
      [@startWork]="{
        value: (workActive$ | async) ? 'workInProgress' : 'noWorkInProgress',
        params: { duration: animationDuration$ | async }
      }"
    ></div>
  </div>
</div>
