.progress-bar
    animation-name: progress
    animation-timing-function: linear
    animation-fill-mode: backwards
    transform-origin: left

@keyframes progress {
  from {
    transform: scaleX(0)
  }
  to {
    transform: scaleX(1)
  }
}
