<mat-card>
  <mat-card-title>{{ propertyTypes[propertyName].displayName }}</mat-card-title>
  <mat-card-content>
    <label>Level</label>
    <p>{{ level }} &rarr; {{ level + 1 }}</p>
    <label>Value</label>
    <p>
      {{ propertyType.valueOfLevel(level) }}{{ propertyType.unit }} &rarr;
      {{ propertyType.valueOfLevel(level + 1) }}{{ propertyType.unit }}
    </p>
    <label>Cost</label>
    <p>{{ propertyType.upgradeCostFromLevel(level) }}$</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary">
      <mat-icon>arrow_upward</mat-icon>
      Upgrade
    </button>
  </mat-card-actions>
</mat-card>
