<div>
  <h2>{{ propertyTypes[propertyName].displayName }}</h2>
  <div>
    <label>Level</label>
    <p>{{ level }} &rarr; {{ level + 1 }}</p>
    <label>Value</label>
    <p>
      {{ propertyType.valueOfLevel(level) }}{{ propertyType.unit }} &rarr;
      {{ propertyType.valueOfLevel(level + 1) }}{{ propertyType.unit }}
    </p>
    <label>Cost</label>
    <p>{{ propertyType.upgradeCostFromLevel(level) }}$</p>
  </div>
  <div>
    <button>
      <i class="fas fa-arrow-up"></i>
      Upgrade
    </button>
  </div>
</div>
