<div class="value-card card-panel teal white-text">{{ value$ | async }}</div>
<div class="card-panel">
  <div class="upgrade-row">
    <span class="upgrade-name">Increment</span>
    <span class="upgrade-value">{{ increment$ | async }} </span>
    <a
      #incrementUpgradeButton
      class="upgrade-btn btn"
      [class.disabled]="incrementUpgradePossible$ | async"
      >Upgrade</a
    >
  </div>
</div>
<div class="time-control-panel">
  <a #pauseButton class="btn" [class.disabled]="!(timeActive$ | async)">Pause</a>
  <a #resumeButton class="btn" [class.disabled]="timeActive$ | async">Resume</a>
</div>
