.section
  margin-left: 10px
  margin-right: 10px
  border-bottom: 1px solid lightgrey

.funds-card
  height: 170px
  font-size: 6rem
  line-height: 1
  .funds
    text-align: center
    height: 100px
    i
      position: relative
      top: 13px
  .funds-effect-container
    vertical-align: middle
    height: 100%
  .funds-effect
    font-size: 4rem
    i
      position: relative
      top: 9px

.upgrade-row
  display: flex
  justify-content: flex-start
  align-items: center
  .upgrade-name, .upgrade-value, .upgrade-btn
    margin-left: 5px
    margin-right: 5px

.manual-labor-panel
  display: flex
  justify-content: center
