<div>
  <app-game-panel
    class="inline-block w-3/4"
    [funds]="funds$ | async"
    [availablePersonalProperties]="availablePersonalProperties$ | async"
    [availableBusinessProperties]="availableBusinessProperties$ | async"
    [timeActive]="timeActive$ | async"
    [powerups]="powerups"
  ></app-game-panel>
  <app-achievement-panel
    class="inline-block w-1/4"
    *ngIf="(achievements$ | async).length !== 0 || true"
    [achievements]="achievements$ | async"
  ></app-achievement-panel>
</div>
