.section
  margin-left: 10px
  margin-right: 10px
  border-bottom: 1px solid lightgrey

.upgrade-row
  display: flex
  justify-content: flex-start
  align-items: center
  .upgrade-name, .upgrade-value, .upgrade-btn
    margin-left: 5px
    margin-right: 5px

.manual-labor-panel
  display: flex
  justify-content: center
