@import "../../node_modules/materialize-css/dist/css/materialize.min.css"

.value-card
  display: flex
  justify-content: center
  font-size: 48px

.upgrade-row
  display: flex
  justify-content: flex-start
  align-items: center
  .upgrade-name, .upgrade-value, .upgrade-btn
    margin-left: 5px
    margin-right: 5px
