<div @appear *ngIf="properties.length > 0">
  <h5>{{ title }}</h5>
  <app-property-row
    *ngFor="let property of properties"
    [propertyName]="property"
    [propertyState]="(propertyStates$ | async)[property]"
    [propertyType]="propertyTypes[property]"
    [upgradePossible]="(upgradesPossible$ | async)[property]"
    [upgradeConditions]="(unfulfiledUpgradeConditions$ | async)[property]"
    (upgrade)="upgrade(property)"
    (visibleFundsEffect)="visibleFundsEffect.emit($event)"
  ></app-property-row>
</div>
