.funds-card
  height: 170px
  font-size: 6rem
  line-height: 1
  .funds
    text-align: center
    height: 100px
    i
      position: relative
      top: 13px
  .funds-effect-container
    vertical-align: middle
    height: 100%
  .funds-effect
    font-size: 4rem
    i
      position: relative
      top: 9px
