.upgrade-row
  width: 100%
  margin-left: 10px
  line-height: 36px

.upgrade-btn
  min-width: 150px
  vertical-align: top

.boxed-value
  min-width: 50px
  display: inline-block
  text-align: center
  padding: 0 16px
  i
    font-size: 14px
    line-height: 36px
    margin-left: 5px

.upgrade-effect
  color: green
  font-weight: bold
  margin-left: 10px
