<div class="row upgrade-row">
  <div class="col s2">{{ propertyType.displayName }}</div>
  <div class="col s1">
    {{ propertyType.valueOfLevel(level) }}&nbsp;{{ propertyType.unit || ""
    }}<span *ngIf="showUpgradeDetails" class="upgrade-effect"
      >{{
        propertyType.valueOfLevel(level + 1) - propertyType.valueOfLevel(level)
      }}&nbsp;{{ propertyType.unit || "" }}</span
    >
  </div>
  <div class="col s3">
    <button
      mat-raised-button
      (click)="upgrade.emit()"
      (mouseenter)="onUpgradeButtonHover(true)"
      (mouseleave)="onUpgradeButtonHover(false)"
      class="upgrade-btn"
      color="primary"
      [disabled]="!upgradePossible"
    >
      {{ propertyType.upgradeText }}
    </button>
  </div>
  <div class="col s3">
    <div class="boxed-value cyan darken-1 white-text z-depth-1">
      {{
        propertyType.upgradeCostFromLevel(level) * -1
          | currency: "USD":"symbol":"1.0":"en-US"
      }}
    </div>
  </div>
  <div class="col s3">
    <div
      *ngFor="let conditionProperty of upgradeConditionProperties"
      class="boxed-value purple lighten-1 white-text z-depth-1"
    >
      {{ propertyTypes[conditionProperty].displayName }} &ge;
      {{ upgradeConditions[conditionProperty] }}
    </div>
  </div>
</div>
