<div>
  <div>{{ propertyType.displayName }}</div>
  <div>
    {{ propertyType.valueOfLevel(level) }}&nbsp;{{ propertyType.unit || ""
    }}<span *ngIf="showUpgradeDetails"
      >{{
        propertyType.valueOfLevel(level + 1) - propertyType.valueOfLevel(level)
      }}&nbsp;{{ propertyType.unit || "" }}</span
    >
  </div>
  <div>
    <button
      (click)="upgrade.emit()"
      (mouseenter)="onUpgradeButtonHover(true)"
      (mouseleave)="onUpgradeButtonHover(false)"
      class="bg-primary"
      [disabled]="!upgradePossible"
    >
      {{ propertyType.upgradeText }}
    </button>
  </div>
  <div>
    <div>
      {{
        propertyType.upgradeCostFromLevel(level) * -1
          | currency: "USD":"symbol":"1.0":"en-US"
      }}
    </div>
  </div>
  <div>
    <div *ngFor="let conditionProperty of upgradeConditionProperties">
      {{ propertyTypes[conditionProperty].displayName }} &ge;
      {{ upgradeConditions[conditionProperty] }}
    </div>
  </div>
</div>
